html,body,section{
    height:max-content;
    width: fit-content;
    margin: 0;
    background-image: url('../Media/PNG\ and\ images/book.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.gender_selection{
word-wrap: break-word;
width: fit-content;
height: fit-content;
display: inline-block;
overflow: hidden;
text-overflow: ellipsis;
margin:-4px;
padding: -1px;
overflow-x:hidden;
color: black;   
height: 100%;
width: 100%;
margin: 0;
}

.male_female{
    position: relative;
    margin: 0;  
    font-size: 50px;
    text-align: center;
    font-family: epic;
    top: -60px;
}

.gender{
    position: relative;
    top: -100px;
}

.male_tag{
    position: relative;
    height: 500px;
    width: 500px;   
}

.female_tag{
    height: 500px;
    width: 500px;
}

.male{
    position: relative;
    margin: 0;
    width: fit-content;
    height: fit-content;
    bottom: -410px;
    right: -440px;
    font-size: 50px;
    text-align: center;
    font-family: epic;

}

.female{
    position: relative;
    margin: 0;
    width: fit-content;
    height: fit-content;
    bottom: -333px;
    right: -1200px;
    font-size: 50px;
    text-align: center;
    font-family: epic;
}

.home{
    position: relative;
    right: -870px;
    bottom: -55px;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: epic;
    height: 45px;
    width: fit-content;
    visibility: visible;
}
.home:hover {
    background-color: #fff;
  }
  
.home:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  


.gender_buttons1{
    background-image:url('../Media/Elf_Backgrounds/elf_male2.jpg');
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 30%;
    object-fit: scale-down;
    background-position: center bottom -255px;
    display: flex;
    align-items: center;
    cursor: pointer;
    right: -300px;
    top: -200px;
}

.gender_buttons2{
    background-image: url('../Media/Elf_Backgrounds/elf_female.jpg');
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 30%;
    object-fit: scale-down;
    background-position: center;
    background-position: center bottom -150px;
    display: flex;
    align-items: center;
    cursor: pointer;
    right: -1050px;
    top: -700px;
}

@font-face {
    font-family: epic;
    src: url('../Fonts/PerryGothic/PERRYGOT.TTF');
}
@media (min-width: 768px) {
    .return_home {
      min-width: 120px;
      padding: 0 25px;
    }
  }