html,body,section{
  height:100%;
  min-height: 100%;
  width: fit-content;
  margin: 0;
  background-image: url('../Media/PNG\ and\ images/book.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

/* The side navigation menu */
.sidenav {
  position: fixed;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  font-size: 25px;
  color: #818181;
  display: block;
  font-family: epic;
  transition: 1s;
}

.sidenav a:hover {
  font-size: 30px;
  color: white;
  display: block;
  font-family: epic;
}

.openNav{
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 50px;
  font-family: epic;
  transition: 1s;
  border-radius: 70%;
}

.openNav:hover{
  transform: rotate(90deg);
  color: white;
}

.openNav::after{
  transform: rotate(90deg);
  color: gray;
  transition: 1s;
}

.dragon_random_generator_page{
  box-sizing: border-box;
  word-wrap: break-word;
  width: fit-content;
  height: fit-content;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: -1px;
  overflow-x:hidden;
  color: black;
  font-size: 19px;
  text-align: center;
  font-family: epic;
}

.text_area{
position: relative;
align-items: center;
top: -30px;
right: -470px;
background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../Media/Dragon_Backgrounds/dragon.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
border: black;
border-style: outset;
width: 1000px;
height: 500px;
color: black;
font-size: 35px;
}

p{
  position: relative;
  top: -20px;
  font-size: 18px;
}

.dragon_button{
  position: relative;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: epic;
  width: fit-content;
  height: fit-content;

}

.dragon_button:hover {
  background-color: #fff;
}

.dragon_button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.go_back{
  position: relative;
  right: -200px;
  top: -52px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: epic;
  height: 45px;
  width: fit-content;
  visibility: visible;

}

.go_back:hover {
  background-color: #fff;
}

.go_back:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}


@media (min-width: 768px) {
  .go_back {
    min-width: 120px;
    padding: 0 25px;
  }
}

@media (min-width: 768px) {
  .again_button {
    min-width: 120px;
    padding: 0 25px;
  }
}

@media (min-width: 768px) {
  .return_home {
    min-width: 120px;
    padding: 0 25px;
  }
}

@font-face {
  font-family: epic;
  src: url('../Fonts/PerryGothic/PERRYGOT.TTF');
}