html,body,section{
    height:100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    background-image: url('../Media/PNG\ and\ images/book.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.fantasy_random_generator-homepage{
    position: relative;
    transition: margin-left .5s;
    padding: 20px;
    display: block;
}
  

.fantasy_random_generator-homepage h1{
    position: relative;
    font-size: 50px;
    text-align: center;
    font-family: epic;
    margin-bottom: 50px;
}
.fantasy_random_generator-homepage h2{
    position: relative;
    font-size: 30px;
    text-align: center;
    font-family: epic;
    margin-bottom: 50px;
}

.fantasy_random_generator-homepage a{
    position: relative;
    font-size: 40px;
    text-align: center;
    font-family: epic;
    margin-bottom: 50px;
    text-decoration: none;
    color: aliceblue;
}

.elf{
    background-image: url('../Media/Elf_Backgrounds/woods.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: auto;
    object-fit: scale-down;
    background-position: center bottom -240px;
    transition: 4s;
    transition-delay: 0.5s;
}

.elf:hover{
    height: 600px;
}


.dwarf{
    background-image: url('../Media/Dwarf_Backgrounds/dwarf_city.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    object-fit: scale-down;
    background-position: center bottom -140px;
    transition: 4s;
    transition-delay: 0.5s;
}

.dwarf:hover{
    height: 600px;
}

.human{
    background-image: url('../Media/Human_Backgrounds/city.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    object-fit: scale-down;
    background-position: center top -360px;
    transition: 4s;
    transition-delay: 0.5s;
}

.human:hover{
    height: 600px;
}

.dragon{
    background-image: url('../Media/Dragon_Backgrounds/dragon5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    object-fit: scale-down;
    background-position: center top -160px;
    transition: 4s;
    transition-delay: 0.5s;
}

.dragon:hover{
    height: 600px;
}

.undead{
    background-image: url('../Media/undead_Backgounds/castlevania3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    object-fit: scale-down;
    background-position: center top -290px;
    transition: 4s;
    transition-delay: 0.5s;
}

.undead:hover{
    height: 600px;
}

/* The side navigation menu */
.sidenav {
    position: fixed;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.sidenav a {
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: epic;
    transition: 1s;
}

.sidenav a:hover {
    font-size: 30px;
    color: white;
    display: block;
    font-family: epic;
}
  
.openNav{
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 50px;
    font-family: epic;
    transition: 1s;
    border-radius: 70%;
}

.openNav:hover{
    transform: rotate(90deg);
    color: white;
}

.openNav::after{
    transform: rotate(90deg);
    color: gray;
    transition: 1s;
}

@font-face {
    font-family: epic;
    src: url('../Fonts/PerryGothic/PERRYGOT.TTF');
}