//sass import from 'colors.sass'
@use 'Colors' as color

//body style
body
    align-content: center
    text-align: center
    background-color: color.$paper
    padding: 0
    margin: 0
    display: inline-block
    overflow-x: hidden
    overflow-y: scroll
    width: 100vw
    height: 100vh
    font-family: color.$font
    
//h1 and h2 font size style
h1
    font-size: 3.5em

h2
    font-size: 2.5em    
    


//section style
.races
    text-align: center

//ordinated list style    
ol
    list-style-type: none
    display: flex
    padding: 0
    justify-content: center
//race name's 
.raceName
    font-size: 2.0em
    margin-top: 79px

//footer style  
.contact
    background-color: color.$footer
    align-items: flex
    color: color.$white
    height: 20vh
    font-size: 2.0em
    margin-top: 150px
    font-size:50px

//mail and git ink style
#mail,#git
    color: color.$white
    
    
//icon's style

@mixin rounded-image 
  border-radius: color.$border-radius
  overflow: hidden // Asegura que la imagen no sobresalga del borde redondeado

#dwarfIcon,
#elfIcon,
#humanIcon,
#dragonIcon 
    margin-bottom: -90px
    width: 15vw
    height: 35vh
    @include rounded-image 
    padding-left:20px
    padding-right: 20px
.elves a, .dwarf a, .human a, .dragon a
    text-decoration: none
    color: inherit


.menu 
    list-style: none
    padding: 0
    font-size: 30px

    li 
        display: inline-block
        margin-right: 20px
        position: relative

        a 
            text-decoration: none
            color: color.$letters

            &:hover 
                color: color.$mana

        // submenu style
        &.has-submenu 
            .submenu 
                display: none
                position: absolute
                top: 100%
                left: 0
                background-color: color.$background
                padding: 10px
                border: 1px solid color.$background
                min-width: 150px

                li 
                    display: block
                    margin: 0

                    a 
                        color: color.$letters
        
            &:hover 
                .submenu 
                    display: block
                    