//sass import from 'colors.sass'
@use 'Colors' as vars

//general body settings
html
    background-color: vars.$paper
    border: 8px solid vars.$border
    padding: 0
    margin: 0
    display: inline-block
    width: 100vw
    height:100vh

body
    width: 100vw
    height:100vh



//ordinated list style    
ol
    list-style-type: none
    align-items: center
    padding: 0
    display: flex
    margin-left: 120px

//race's container
.elves
    align-items: center
    text-align: center
    padding: 0

.dwarf
    align-items: center
    text-align: center
    padding: 0

.human
    align-items: center
    text-align: center
    padding: 0

.dragon
    align-items: center
    text-align: center
    padding: 0

//race name's 
.raceName
    font-size: 2.0em

//footer style  
.contact
    background-color: vars.$footer
    align-items: flex
    text-align: center
    padding: 0
    color: vars.$white
    height: 20vh
    font-size: 2.0em
    margin-top: 85px

//mail and git ink style
#mail,#git
    color: vars.$white
    
//icon's style
#elfIcon
    width: 20vw
    height: 35vh
    margin-bottom: -90px

#dwarfIcon
    width: 20vw
    height: 35vh
    margin-bottom: -90px

#humanIcon
    width: 20vw
    height: 35vh
    margin-bottom: -90px

#dragonIcon
    width: 20vw
    height: 35vh
    margin-bottom: -90px

// Mobile styles
@media (max-width: 767px)
.body
    display: flexbox
    width: 100vw
    height: 100vh
.presentation
    text-align: center
    font-size: 1.9em
h2
    margin-top: -19px
    margin-right: 20px
.races
    align-content: center
    text-align: center

// Tablet styles
@media (min-width: 768px) and (max-width: 1023px)
    body
        display: block
    .presentation
        font-size: 1.8em
    ol
        margin-left: 40px
    .contact
        font-size: 1.8em
        margin-top: 70px
        height: auto
    #elfIcon,
    #dwarfIcon,
    #humanIcon,
    #dragonIcon
        width: 60vw
        height: auto
        margin-bottom: 10px
